<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{country.country_name}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" force-overscroll="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">{{country.country_name}}</ion-title>
		</ion-toolbar>
	</ion-header>

	<div class="description">
		<div id="image-box">
			<img [src]="'data:image/png;base64,' + flag.bitmap" />
		</div>
		<h2>{{strategy.name}}</h2>
		<p>{{strategy.description}}</p>
	</div>

	<ion-card class="description-card">
		<ion-card-header>
			<ion-card-subtitle>Overview</ion-card-subtitle>
		</ion-card-header>
		<ion-card-content>
			<p>This is an optional creative writing space if you want to write a general guide here.</p>
		</ion-card-content>
	</ion-card>

	<ion-card class="checklist-card">
		<ion-card-header>
			<ion-card-subtitle>Starting Move Checklists</ion-card-subtitle>
		</ion-card-header>
		<ion-card-content>
			<ion-accordion-group>
				<ion-accordion>
					<ion-item slot="header">
						<ion-label>National Focuses</ion-label>
					</ion-item>
					<ion-list slot="content">
						<ion-item *ngFor="let focus of strategy.focuses; index as fi" [lines]="fi == strategy.focuses.length - 1 ? 'none' : 'inset'">
							<ion-checkbox slot="start" color="secondary"></ion-checkbox>
							<ion-label>{{focus}}</ion-label>
						</ion-item>
					</ion-list>
				</ion-accordion>
				<ion-accordion>
					<ion-item slot="header">
						<ion-label>Research</ion-label>
					</ion-item>
					<ion-list slot="content">
						<ion-item *ngFor="let res of strategy.research; index as ri" [lines]="ri == strategy.research.length - 1 ? 'none' : 'inset'">
							<ion-checkbox slot="start" color="secondary"></ion-checkbox>
							<ion-label>{{res}}</ion-label>
						</ion-item>
					</ion-list>
				</ion-accordion>
			</ion-accordion-group>
		</ion-card-content>
	</ion-card>

	<ion-card class="allies-card countries-card">
		<ion-card-header>
			<ion-card-subtitle>Allies</ion-card-subtitle>
		</ion-card-header>
		<ion-card-content>
			<p>{{strategy.allies_description}}</p>
			<div>
				<ion-chip *ngFor="let ally of strategy.allies">{{ally}}</ion-chip>
			</div>
		</ion-card-content>
	</ion-card>

	<ion-card class="enemies-card countries-card">
		<ion-card-header>
			<ion-card-subtitle>Enemies</ion-card-subtitle>
		</ion-card-header>
		<ion-card-content>
			<p>{{strategy.enemies_description}}</p>
			<div>
				<ion-chip *ngFor="let enemy of strategy.enemies">{{enemy}}</ion-chip>
			</div>
		</ion-card-content>
	</ion-card>
</ion-content>
