<ion-header [translucent]="true" color="primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Divisions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card routerLink="all">
    <ion-card-header>
      <ion-card-subtitle>Division Designer</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Design divisions and view stats</p>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Combat Simulator</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Pit divisions against each other in simulated battles</p>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
</ion-content>
