<ion-tabs>

  <ion-tab-bar slot="bottom" color="secondary">
    <ion-tab-button tab="countries">
      <ion-icon name="flag"></ion-icon>
      <ion-label>Countries</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="divisions">
      <ion-icon name="construct"></ion-icon>
      <ion-label>Divisions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="designer">
      <ion-icon name="color-palette"></ion-icon>
      <ion-label>Designs</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
