<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Designer</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Designer</ion-title>
		</ion-toolbar>
	</ion-header>

	<p class="page-label">Add regiments and support companies.</p>

	<!-- Add Regiment Modal -->
	<ion-button id="add-regiment">Add Regiment</ion-button>
	<ion-modal [isOpen]="false" [breakpoints]="[0.5]" [initialBreakpoint]="0.5" [swipeToClose]="false"
		trigger="add-regiment">
		<ng-template>
			<ion-content>
				<p style="margin-top: 40px; margin-bottom: 20px"><strong>Add Regiment</strong></p>
				<ion-list>
					<ion-item>
						<ion-label>Regiment Type</ion-label>
						<ion-select placeholder="Select" [(ngModel)]="addRegimentType">
							<ion-select-option *ngFor="let regiment of validRegiments" [value]="regiment">
								{{regiment.regiment_name}}</ion-select-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label>Number</ion-label>
						<ion-input type="number" [(ngModel)]="addRegimentNumber" style="text-align: right;"></ion-input>
					</ion-item>
				</ion-list>
				<ion-button (click)="addRegiment()"
					[disabled]="addRegimentNumber == undefined || addRegimentType == undefined">
					Save</ion-button>
			</ion-content>
		</ng-template>
	</ion-modal>

	<!-- Update Equipment Modal -->
	<ion-card id="division-card" *ngIf="regiments.length > 0">
		<ion-card-header (click)="rename()">
			<strong>{{divisionName}}</strong>
			<ion-icon name="pencil" color="secondary"></ion-icon>
			<ion-ripple-effect></ion-ripple-effect>
		</ion-card-header>

		<ion-card-content [ngSwitch]="currSegment">
			<ion-segment [(ngModel)]="currSegment" color="primary">
				<ion-segment-button value="composition" checked>
					<ion-label>Composition</ion-label>
				</ion-segment-button>
				<ion-segment-button value="statistics">
					<ion-label>Statistics</ion-label>
				</ion-segment-button>
			</ion-segment>

			<!-- Composition Card -->
			<div *ngSwitchCase="'composition'">
				<div class="composition-card">
					<p>Slide regiment sideways to edit number or equipment.</p>
				</div>
				<ion-list>
					<ion-item-sliding *ngFor="let regiment of regiments; let i = index">
						<ion-item-options side="start">
							<ion-item-option color="primary" (click)="updateEquipment(i)">Equipment</ion-item-option>
						</ion-item-options>
						<ion-item [lines]="i == regiments.length - 1 ? 'none' : 'inset'">
							<ion-label>{{regiment.regiment.regiment_name }}</ion-label>
							<ion-note>{{regiment.number}}</ion-note>
						</ion-item>
						<ion-item-options side="end">
							<ion-item-option color="secondary" (click)="updateAmount(regiment)">Update Amount</ion-item-option>
							<ion-item-option color="danger" (click)="confirmDelete(regiment)">Delete</ion-item-option>
						</ion-item-options>
					</ion-item-sliding>
				</ion-list>
			</div>

			<!-- Statistics Card -->
			<ion-grid *ngSwitchCase="'statistics'" class="stats-card">
				<ion-row>
					<ion-col>
						<ion-list>
							<ion-item lines="inset">
								<ion-label>HP</ion-label>
								<ion-note>{{statistics.hp}}</ion-note>
							</ion-item>
							<ion-item lines="inset">
								<ion-label>Organization</ion-label>
								<ion-note>{{statistics.organization}}</ion-note>
							</ion-item>
							<ion-item lines="inset">
								<ion-label>Soft Attack</ion-label>
								<ion-note>{{statistics.soft_attack}}</ion-note>
							</ion-item>
							<ion-item lines="inset">
								<ion-label>Hard Attack</ion-label>
								<ion-note>{{statistics.hard_attack}}</ion-note>
							</ion-item>
							<ion-item lines="inset">
								<ion-label>Breakthrough</ion-label>
								<ion-note>{{statistics.breakthrough}}</ion-note>
							</ion-item>
							<ion-item lines="none">
								<ion-label>Fuel Usage</ion-label>
								<ion-note>{{statistics.fuel_usage}}</ion-note>
							</ion-item>
						</ion-list>
					</ion-col>
					<ion-col>
						<ion-list>
							<ion-item lines="inset">
								<ion-label>Piercing</ion-label>
								<ion-note>{{statistics.piercing}}</ion-note>
							</ion-item>
							<ion-item lines="inset">
								<ion-label>Air Attack</ion-label>
								<ion-note>{{statistics.air_attack}}</ion-note>
							</ion-item>
							<ion-item lines="inset">
								<ion-label>Defense</ion-label>
								<ion-note>{{statistics.defense}}</ion-note>
							</ion-item>
							<ion-item lines="inset">
								<ion-label>Hardness</ion-label>
								<ion-note>{{statistics.hardness}}%</ion-note>
							</ion-item>
							<ion-item lines="inset">
								<ion-label>Armor</ion-label>
								<ion-note>{{statistics.armor}}</ion-note>
							</ion-item>
							<ion-item lines="none">
								<ion-label>IC Cost</ion-label>
								<ion-note>{{statistics.cost}}</ion-note>
							</ion-item>
						</ion-list>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button [disabled]="regiments.length == 0" (click)="saveDivision()">
			<ion-icon name="save"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>