p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
    text-align: center;
  }

ion-button {
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
    width: 50%;
    max-width: 150px;
}

#division-card {
    margin-top: 30px;

    ion-card-header {
        text-align: center;

        ion-icon {
            margin-left: 10px;
            font-size: 20px;
            vertical-align: bottom;
        }
    }

    ion-list, p {
        margin-top: 20px;
    }
}

.page-label {
    margin-top: 20px;
}

.stats-card {
    ion-list {
        ion-label {
            font-size: small;
        }

        ion-note {
            font-size: small;
        }
    }
}

ion-note.md {
    margin: 10px 0px;
    align-self: unset;
    font-size: medium;
}