<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Divisions</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" force-overscroll="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Divisions</ion-title>
		</ion-toolbar>
	</ion-header>

	<!-- <div id="container" *ngIf="divisions.length == 0">
    <p>No designs found!</p>
  </div> -->

	<!-- <ion-list *ngIf="divisions.length > 0"> -->
	<ion-card *ngFor="let division of divisions" class="division-card">
		<ion-card-header>
			<ion-card-subtitle>{{division.type}} Division</ion-card-subtitle>
			<ion-card-title>{{division.name}}</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ion-chip *ngFor="let chip of division.regiments">
				<ion-avatar>
					<p class="chip-avatar">{{chip.number}}</p>
				</ion-avatar>
				<ion-label>{{chip.regiment.regiment_name}}</ion-label>
			</ion-chip>
		</ion-card-content>
	</ion-card>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="../designer">
		<ion-fab-button>
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>